/* Testing CSS for connection to index.html */
/* 
* {
    color: darkgreen;
} */

.topBar {
    background-color: darkgreen;
    color: aquamarine;
    text-align: center;
} /* holy geocities batman */

.mainRow {
    background-color: lightgray;
    padding: 1em;
}

.questions {
    background-color: lightseagreen;
    color: darkblue;
    padding: 1em;
}

.bgImageContainer {
    background-image: url(./record.png);
    background-repeat: repeat;
}

body {
    margin: 0px;
}